* {
  background-color: #f9faf8;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, sans-serif;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #444aaa;
}

#grid-container {
  display: flex;
  width: 600px;
  height:600px;
  flex-direction: column;
  flex-wrap: wrap;
}

div.row {
  display: flex;
  background-color: #ffffff;
  flex-grow: 1;
}

div.square {
  flex-grow: 1;
  background-color: #ffffff;
  border: 0.1rem solid black;
}

/* Add this new class to your existing CSS */
.hovered {
  background-color: #333333; /* Dark gray color */
}