* {
  background-color: #f9faf8;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, sans-serif;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#grid-container {
  display: flex;
  width: 900px;
  height:900px;
  flex-direction: column;
  flex-wrap: wrap;
}

div.row {
  display: flex;
  background-color: #ffffff;
  flex-grow: 1;
}

div.square {
  flex-grow: 1;
  background-color: #ffffff;
  border: 0.1rem solid black;
}